{% extends 'perm_mgmt/layout.html'%}

{% block content %}
<div class="container">
  <div class="row">
    <h4 class="center-align blue lighten-3">Add Resource</h4>
  </div>
  <div class="row">
    <form class="col s12" action="/perm-mgmt/add-resource/" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="row">
          <div class="input-field col s12">
            {{ field }}
            {{ field.label_tag }}
            <span class="helper-text">{{ field.help_text }}</span>
          </div>
        </div>
      {% endfor %}
      <div class="row right-align">
        <input class="btn waves-effect waves-light btn-large" type="submit" value="Submit" name="action">
      <div>
    </form>
  </div>
</div>
{% endblock %}
